<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand fw-medium" href="#">Chating App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-black" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="/chat">Chat</a>
        </li>
      </ul>

      <div class="navbar-text text-black d-flex flex-row">
        <%if(!currentUser){%>
        <a class="nav-link m-1" href="/login">login</a>
        <%}else{%>
        <a class="mx-2 nav-link" href="#">Hello_<%=currentUser%></a>
        <a class="nav-link mx-2" href="/logout">logout</a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
